<div class="bg-color-primary-dark">

    <div class="cs-section" id="about">

        <!-- title -->
        <span class="cs-section-title">Meet the creator</span>

        <div class="cs-about">

            <!-- quote -->
            <div class="cs-about-item cs-about-quote">{{this.quote}}</div>

            <!-- developer's pic -->
            <img class="cs-about-item cs-about-pic" src="../../../assets/profile-pic.png" [alt]="this.name"
                [title]="this.name">

            <!-- developer's profile info -->
            <div class="cs-about-item cs-about-profile">

                <!-- name & title -->
                <div class="cs-about-profile-item cs-about-profile-name">{{this.name}}</div>
                <div class="cs-about-profile-item cs-about-profile-title">{{this.title}}</div>

                <!-- social links -->
                <div class="cs-about-profile-item cs-about-profile-social-bar">

                    <!-- linkedin -->
                    <a class="cs-about-profile-social-bar-link" [href]="this.linkedinUrl" target="_blank"
                        rel="noopener noreferrer">
                        <img src="../../../assets/linkedin-icon.svg" title="linkedin" alt="linkedin">
                    </a>
                    <!-- twitter -->
                    <a class="cs-about-profile-social-bar-link" [href]="this.twitterUrl" target="_blank"
                        rel="noopener noreferrer">
                        <img src="../../../assets/twitter-icon.svg" title="twitter" alt="twitter">
                    </a>

                </div>
            </div>

        </div>

    </div>

</div>