<div class="cs-footer" id="footer">

    <!-- column: company -->
    <div class="cs-footer-column cs-footer-column-primary">
        <div class="cs-footer-column-item">
            CloudSkew
        </div>
        <div class="cs-footer-column-item">
            An online editor
        </div>
        <div class="cs-footer-column-item">
            Copyright: 2019 - Present: Skewed Ventures Private Limited
        </div>
    </div>

    <!-- column: product  -->
    <div class="cs-footer-column">
        <div class="cs-footer-column-item">
            Product
        </div>
        <div class="cs-footer-column-item">
            Features
        </div>
        <div class="cs-footer-column-item">
            Testimonials
        </div>
        <div class="cs-footer-column-item">
            Samples
        </div>
        <div class="cs-footer-column-item">
            Pricing
        </div>
    </div>

    <!-- column: resources -->
    <div class="cs-footer-column">
        <div class="cs-footer-column-item">
            Resources
        </div>
        <div class="cs-footer-column-item">
            Status
        </div>
        <div class="cs-footer-column-item">
            Blog
        </div>
        <div class="cs-footer-column-item">
            Docs
        </div>
        <div class="cs-footer-column-item">
            Privacy Policy
        </div>
        <div class="cs-footer-column-item">
            Terms of Use
        </div>
    </div>

    <!-- column: connect with us -->
    <div class="cs-footer-column">
        <div class="cs-footer-column-item">
            Connect With Us 
        </div>
        <div class="cs-footer-column-item">
            Email: support@cloudskew.com 
        </div>
        <div class="cs-footer-column-item">
            Social 
        </div>
    </div>

</div>