<div class="cs-footer" id="footer">

    <!-- column: company -->
    <div class="cs-footer-column cs-footer-column-primary">

        <!-- branding -->
        <div class="cs-footer-column-item cs-footer-column-branding">

            <!-- branding logo -->
            <div class="cs-footer-column-branding-logo">
                <img [src]="this.brandingLogoUrl" title="CloudSkew">
            </div>

            <!-- branding text -->
            <div class="cs-footer-column-branding-text">CloudSkew</div>
        </div>

        <div class="cs-footer-column-item">
            Skewed Ventures Private Limited
        </div>

        <!-- copyright text -->
        <div class="cs-footer-column-item">
            Copyright: 2019 - Present
        </div>

        <!-- social icons -->
        <div class="cs-footer-column-item cs-footer-column-social-bar">
            <!-- mail -->
            <div class="cs-footer-column-social-link">
                <a href="mailto:support@cloudskew.com">
                    <img src="../../../assets/mail-icon.svg" title="support@cloudskew.com">
                </a>
            </div>
            <!-- twitter -->
            <div class="cs-footer-column-social-link">
                <a href="https://twitter.com/MithunShanbhag" target="_blank">
                    <img src="../../../assets/twitter-icon.svg" title="Twitter">
                </a>
            </div>
            <!-- youtube -->
            <div class="cs-footer-column-social-link">
                <a href="https://www.youtube.com/channel/UCc4Y5F4UcCl-KoNskDqdW6w" target="_blank">
                    <img src="../../../assets/youtube-icon.svg" title="YouTube">
                </a>
            </div>
            <!-- github -->
            <div class="cs-footer-column-social-link">
                <a href="https://github.com/cloudskew/cloudskew/issues/new/choose" target="_blank">
                    <img src="../../../assets/github-icon.svg" title="Report an issue on Github">
                </a>
            </div>
        </div>
    </div>

    <!-- column: product  -->
    <div class="cs-footer-column">
        <div class="cs-footer-column-item cs-footer-column-header">
            Product
        </div>
        <div class="cs-footer-column-item">
            <a class="cs-footer-column-item-link" href="#features">Features</a>
        </div>
        <div class="cs-footer-column-item">
            <a class="cs-footer-column-item-link" href="#testimonials">Testimonials</a>
        </div>
        <div class="cs-footer-column-item">
            <a class="cs-footer-column-item-link" href="#samples">Samples</a>
        </div>
        <div class="cs-footer-column-item">
            <a class="cs-footer-column-item-link" href="#pricing">Pricing</a>
        </div>
    </div>

    <!-- column: resources -->
    <div class="cs-footer-column">
        <div class="cs-footer-column-item cs-footer-column-header">
            Resources
        </div>
        <div class="cs-footer-column-item">
            <a class="cs-footer-column-item-link" [href]="this.statusUrl" target="_blank">Status</a>
        </div>
        <div class="cs-footer-column-item">
            <a class="cs-footer-column-item-link" [href]="this.blogUrl" target="_blank">Blog</a>
        </div>
        <div class="cs-footer-column-item">
            <a class="cs-footer-column-item-link" [href]="this.docsUrl" target="_blank">Docs</a>
        </div>
        <div class="cs-footer-column-item">
            <a class="cs-footer-column-item-link" [href]="this.privacyPolicyUrl" target="_blank">Privacy Policy</a>
        </div>
        <div class="cs-footer-column-item">
            <a class="cs-footer-column-item-link" [href]="this.termsOfServiceUrl" target="_blank">Terms of Service</a>
        </div>
    </div>

</div>