<div class="cs-header">

    <!-- branding section -->
    <div class="cs-header-branding">
        <!-- branding logo -->
        <div class="cs-header-branding-logo">
            <a routerLink="/">
                <img [src]="this.brandingLogoUrl" title="CloudSkew">
            </a>
        </div>

        <div class="cs-header-branding-text">CloudSkew</div>
    </div>

    <!-- nav / links section -->
    <div class="cs-header-nav">
        <a class="cs-header-nav-link">Samples</a>
        <a class="cs-header-nav-link">Pricing</a>
        <a class="cs-header-nav-link">Docs</a>
        <a class="cs-header-nav-link">Status</a>
        <a class="cs-header-nav-link" routerLink="/">Blog</a>
        <a class="cs-header-nav-link" routerLink="/" fragment="about">About</a>
        <div class="cs-header-nav-link cs-cta-button">Go To App</div>
    </div>

</div>