<div class="cs-header">

    <!-- branding section -->
    <div class="cs-header-branding">
        <!-- branding logo -->
        <div class="cs-header-branding-logo">
            <a href="#">
                <img [src]="this.brandingLogoUrl" title="CloudSkew">
            </a>
        </div>

        <div class="cs-header-branding-text">CloudSkew</div>
    </div>

    <!-- nav / links section (desktop only) -->
    <div class="cs-header-nav">
        <a class="cs-header-nav-link" href="#samples">Samples</a>
        <a class="cs-header-nav-link" href="#pricing">Pricing</a>
        <a class="cs-header-nav-link" [href]="this.docsUrl" target="_blank">Docs</a>
        <a class="cs-header-nav-link" [href]="this.blogUrl" target="_blank">Blog</a>
        <a class="cs-header-nav-link" [href]="this.statusUrl" target="_blank">Status</a>
        <a class="cs-header-nav-link" href="#about">About</a>
        <a class="cs-header-nav-link cs-cta-button" [href]="this.appUrl" target="_blank">Go To App</a>
    </div>

</div>