<div class="header">

    <!-- branding section -->
    <div class="header-branding">
        <!-- branding logo -->
        <a class="header-branding-logo" href="#">
            <img [src]="this.brandingLogoUrl" [title]="this.title" [alt]="this.title">
        </a>

        <!-- branding text -->
        <span class="cs-font-branding">CloudSkew</span>
    </div>

    <!-- nav / links section (desktop only) -->
    <div class="header-nav">
        <a class="header-nav-link cs-font-secondary-content" href="#samples">Samples</a>
        <a class="header-nav-link cs-font-secondary-content" href="#testimonials">Testimonials</a>
        <a class="header-nav-link cs-font-secondary-content" href="#pricing">Pricing</a>
        <a class="header-nav-link cs-font-secondary-content" [href]="this.docsUrl" target="_blank"
            rel="noopener noreferrer">Docs</a>
        <a class="header-nav-link cs-font-secondary-content" [href]="this.blogUrl" target="_blank"
            rel="noopener noreferrer">Blog</a>
        <a class="header-nav-link cs-font-secondary-content" [href]="this.statusUrl" target="_blank"
            rel="noopener noreferrer">Status</a>
        <a class="header-nav-link cs-font-secondary-content cs-cta-button" [href]="this.appUrl" target="_blank"
            rel="noopener noreferrer">Go To
            App</a>
    </div>

</div>