/* mobile layout */
@media screen and (max-width: 600px) { /* @todo: choose correct screen resolution later */
    .header {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        background-color: lightgreen;
        margin: auto;
    }
}
