<div class="cs-bg-color-primary-dark-gradient">
    <div class="cs-section" id="samples">

        <!-- section title -->
        <span class="cs-section-title">Draw cloud architecture diagrams</span>

        <!-- hero image -->
        <div class="cs-hero">
            <img [src]="this.heroImageUrl" alt="CloudSkew" title="CloudSkew">
        </div>

        <!-- cta button -->
        <a class="cs-hero-cta-button cs-font-secondary-content" [href]="this.appUrl" target="_blank"
            rel="noopener noreferrer">Get started for Free</a>

    </div>
</div>