<div class="cs-section" id="samples">

    <!-- section title -->
    <span class="cs-section-title">Check out some samples</span>

    <div class="cs-samples-gallery">
        <!-- gallery item -->
        <div class="cs-samples-gallery-item" *ngFor="let galleryItem of this.galleryItems">

            <!-- header -->
            <div class="cs-samples-gallery-item-header">
                <!-- title -->
                <span class="cs-samples-gallery-item-header-title cs-font-quote">{{galleryItem.title}}</span>
                <!-- share link -->
                <a class="cs-samples-gallery-item-header-sharelink" [href]="this.galleryItem.shareUrl" target="_blank"
                    rel="noopener noreferrer">See Live</a>
            </div>

            <!-- description -->
            <span class="cs-samples-gallery-item-description cs-font-secondary-content">{{galleryItem.description}}</span>

            <!-- image -->
            <a class="cs-samples-gallery-item-image" [href]="this.galleryItem.imgUrl" target="_blank"
                rel="noopener noreferrer">
                <img [src]="this.galleryItem.imgUrl" [title]="this.galleryItem.description"
                    [alt]="this.galleryItem.description">
            </a>

        </div>
    </div>

</div>