<div class="cs-pricing" id="pricing">
    <!-- title & subtitle -->
    <span class="cs-pricing-title">CloudSkew plans</span>

    <!-- pricing tables -->
    <div class="cs-pricing-tables">
        <!-- individual pricing table -->
        <div class="cs-pricing-table-wrapper" *ngFor="let plan of this.pricingPlans">
            <div class="cs-pricing-table">
                <!-- table "header" -->
                <div class="cs-pricing-table-header">
                    <span class="cs-pricing-table-header-title">{{plan.title}}</span>
                    <span class="cs-pricing-table-header-price">{{plan.price}}</span>
                    <span class="cs-pricing-table-header-subtitle">{{plan.subtitle}}</span>
                </div>
                <!-- table features/content -->
                <div class="cs-pricing-table-features">
                    <div class="cs-pricing-table-features-row" *ngFor="let feature of plan.features">
                        <img class="cs-pricing-table-features-row-checkbox" [src]="feature.checkboxIcon"
                            [alt]="feature.featureText">
                        <div class="cs-pricing-table-features-row-featureText">{{feature.featureText}}</div>
                        <img class="cs-pricing-table-features-row-featureContext" *ngIf="feature.featureContext"
                            [src]="feature.featureContextIcon" [title]="feature.featureContext"
                            [alt]="feature.featureContext">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CTA button -->
    <a class="cs-pricing-cta-button" [href]="this.appUrl" target="_blank" rel="noopener noreferrer">Start for Free</a>
    <!-- needed since button above is an inline/inline-block element -->
    <br>

    <!-- additional details -->
    <span class="cs-pricing-more-details">For more details, please see our <a [href]="this.faqsUrl" target="_blank"
            rel="noopener noreferrer">FAQs</a>, <a [href]="this.termOfServiceUrl" target="_blank"
            rel="noopener noreferrer">Terms of Service</a>, and <a [href]="this.privacyPolicyUrl" target="_blank"
            rel="noopener noreferrer">Privacy
            Policy</a>.</span>
</div>