<div class="cs-pricing" id="pricing">
    <!-- title & subtitle -->
    <span class="cs-pricing-item cs-pricing-title">A placeholder title for now</span>

    <!-- pricing tables -->
    <div class="cs-pricing-item cs-pricing-tables">Tables</div>

    <!-- CTA button -->
    <a class="cs-pricing-item cs-pricing-cta-button" [href]="this.appUrl" target="_blank">Start for Free</a>

    <!-- additional details -->
    <span class="cs-pricing-item cs-pricing-more-details">For more details, please see our <a href=""
            target="_blank">FAQs</a>, <a href="" target="">Terms of Service</a>, and <a href="" target="">Privacy
            Policy</a>.</span>
</div>