<div class="cs-pricing" id="pricing">
    <!-- title & subtitle -->
    <div class="cs-pricing-title">A placeholder title for now</div>

    <!-- pricing tables -->
    <div class="cs-pricing-tables">Tables</div>

    <!-- CTA button -->
    <a class="cs-pricing-cta-button" [href]="this.appUrl" target="_blank">
        Start for Free
    </a>

    <!-- additional details -->
    <div class="cs-pricing-more-details">
        For more details, please see our <a href="" target="_blank">FAQs</a>, <a href="" target="">Terms of Service</a>,
        and <a href="" target="">Privacy Policy</a>.
    </div>
</div>