<div class="bg-color-primary-dark">
    <div class="cs-section" id="testimonials">

        <!-- section title -->
        <span class="cs-section-title">What CloudSkew users are saying</span>

        <div class="cs-testimonials-flexbox">

            <!-- testimonial card -->
            <div class="cs-testimonials-card" *ngFor="let testimonialItem of this.testimonialItems">

                <!-- testimonial quote -->
                <a class="cs-testimonials-card-quote" [href]="this.testimonialItem.liveUrl" target="_blank"
                    rel="noopener noreferrer">
                    <div class="font-quote">{{testimonialItem.testimonial}}</div>
                </a>

                <!-- user info -->
                <div class="cs-testimonials-card-user-flexbox">

                    <div class="cs-testimonials-card-user-details">
                        <div class="cs-testimonials-card-user-details-name font-primary-content">
                            {{this.testimonialItem.name}}</div>
                        <div class="cs-testimonials-card-user-details-job font-secondary-content">
                            {{this.testimonialItem.job}}</div>
                    </div>

                    <!-- random artwork image -->
                    <img class="cs-testimonials-card-user-artwork" [src]="this.testimonialItem.artwork" alt="artwork" text="artwork">

                </div>

            </div>
        </div>

    </div>
</div>