/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Open Sans", "Helvetica Neue", sans-serif; }

:root {
    /* color palette */
    --color-primary: white;
    --color-primary-dark: #F9F9F9;
    --color-secondary: black;
    --color-secondary-light: #647E7D;
    --color-accent: #00BBB0;
    --color-accent-light: #00C8BE;

    /* text styling */
    --size-section-title: 40px;
    --weight-section-title: 400;
}

