/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: "Open Sans", "Helvetica Neue", sans-serif; }

:root {
    /* color palette */
    --color-primary: white;
    --color-primary-dark: #F9F9F9;
    --color-secondary: black;
    --color-secondary-light: #002927;
    --color-secondary-lighter: #647E7D;
    --color-accent: #00BBB0;
    --color-accent-light: #00C8BE;

    /* font families */
    --font-family-open-sans: "Open Sans", sans-serif;
    --font-family-montserrat: "Montserrat", sans-serif;
}

.cs-section {
    /* layout */
    width: 80vw;
    margin: auto; /* for horizontal centering */
    padding: 100px 5px;

    /* text styling */
    font-family: var(--font-family-open-sans);
    color: var(--color-secondary);
    line-height: 1;
    text-align: center;
}

.cs-section-title { /* Use on <span> elements only */
    /* layout */
    display: block;
    margin-bottom: 35px;

    /* text styling */
    font-family: var(--font-family-montserrat);
    font-size: 40px;
    font-weight: 400;
}

.bg-color-primary {
    background-color: var(--color-primary);
}

.bg-color-primary-dark {
    background-color: var(--color-primary-dark);
}

.bg-grid {
    background-color: var(--color-primary-dark);
    background-image: 
        repeating-linear-gradient(to right, #DEDDDD 0px 0.01px, transparent 1px 25px),
        repeating-linear-gradient(to bottom, #DEDDDD 0px 0.01px, transparent 1px 25px);
}

.font-branding {
    color: var(--color-secondary-light);
    font-family: var(--font-family-open-sans);
    font-size: 30px;
    font-weight: 700;
}

.font-quote {
    color: var(--color-secondary-lighter);
    font-family: var(--font-family-montserrat);
    font-size: 24px;
    font-weight: 300;
}

.font-primary-content {
    color: var(--color-secondary-light);
    font-family: var(--font-family-open-sans);
    font-size: 20px;
    font-weight: 600;
}

.font-secondary-content {
    color: var(--color-secondary-light);
    font-family: var(--font-family-open-sans);
    font-size: 18px;
    font-weight: 300;
}

@media screen and (max-width: 1200px) {
    .cs-section {
        width: 90vw;
    }
}

@media screen and (max-width: 980px) {
    .cs-section {
        width: 100vw;
    }
}